# MOLECULER

MOLECULER_NAMESPACE=
MOLECULER_NODE_ID=
MOLECULER_TRANSPORTER=

# NEST

PORT=
GLOBAL_PREFIX=

# DATABASE

DATABASE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SCHEMA=
DATABASE_URL=