# SERVICE
SERVICE_NAMESPACE=<пространство имен сервиса>
SERVICE_NODE_ID=<идентификатор узла сервиса>
SERVICE_TRANSPORTER=<URL транспортера сообщений>

# NEST
GLOBAL_PREFIX=<глобальный префикс API>

# DATABASE
DATABASE=<тип базы данных>
DATABASE_HOST=<хост базы данных>
DATABASE_PORT=<порт базы данных>
DATABASE_USER=<имя пользователя базы данных>
DATABASE_PASSWORD=<пароль базы данных>
DATABASE_NAME=<название базы данных>
DATABASE_SCHEMA=<схема базы данных>
DATABASE_URL='${DATABASE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=${DATABASE_SCHEMA}'

# YANDEX STORAGE CONFIG
YANDEX_STORAGE_REGION=<регион хранилища>
YANDEX_STORAGE_ACCESS_KEY_ID=<ID ключа доступа>
YANDEX_STORAGE_SECRET_ACCESS_KEY=<секретный ключ доступа>
YANDEX_STORAGE_ENDPOINT=<конечная точка хранилища>
YANDEX_STORAGE_BUCKET_NAME=<название бакета>