# SERVICE
SERVICE_NAMESPACE=<пространство имен сервиса>
SERVICE_NODE_ID=<идентификатор узла сервиса>
SERVICE_TRANSPORTER=<URL транспортера сообщений>

# NEST
PORT=<порт для запуска сервиса>
GLOBAL_PREFIX=<глобальный префикс API>

# DATABASE
DATABASE=<тип базы данных>
DATABASE_HOST=<хост базы данных>
DATABASE_PORT=<порт базы данных>
DATABASE_USER=<имя пользователя базы данных>
DATABASE_PASSWORD=<пароль базы данных>
DATABASE_NAME=<название базы данных>
DATABASE_SCHEMA=<схема базы данных>
DATABASE_URL='${DATABASE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=${DATABASE_SCHEMA}'

# MARKETPLACE ENCRYPTION
ALGORITHM=<алгоритм шифрования для данных маркетплейсов>
SECRET_KEY=<секретный ключ для шифрования (32 байта в hex формате)>
IV_LENGTH=<длина вектора инициализации в байтах>