# MAIN SETTINGS
NODE_ENV=<режим работы приложения (development/production)>

# AUTH SERVICE
AUTH_SERVICE_NAME=<название сервиса аутентификации>
AUTH_SERVICE_NAMESPACE=<пространство имен сервиса аутентификации>
AUTH_SERVICE_NODE_ID=<идентификатор узла сервиса аутентификации>
AUTH_SERVICE_TRANSPORTER=<URL транспортера сообщений для сервиса аутентификации>

# USER STORE SERVICE
USER_STORE_SERVICE_NAME=<название сервиса хранения пользователей>
USER_STORE_SERVICE_NAMESPACE=<пространство имен сервиса хранения пользователей>
USER_STORE_SERVICE_NODE_ID=<идентификатор узла сервиса хранения пользователей>
USER_STORE_SERVICE_TRANSPORTER=<URL транспортера сообщений для сервиса хранения пользователей>

# API GATEWAY
API_GATEWAY_NAMESPACE=<пространство имен API шлюза>
API_GATEWAY_NODE_ID=<идентификатор узла API шлюза>
API_GATEWAY_TRANSPORTER=<URL транспортера сообщений для API шлюза>

# NEST
PORT=<порт для запуска приложения>
GLOBAL_PREFIX=<глобальный префикс API>

# REDIS
REDIS_HOST=<хост Redis>
REDIS_PORT=<порт Redis>
REDIS_PASSWORD=<пароль Redis>
REDIS_DB=<номер базы данных Redis>

# AUTH RATE LIMIT
AUTH_RETRIES=<количество попыток аутентификации>
AUTH_RETRY_DELAY=<задержка между попытками в секундах>
AUTH_RETRY_DURATION=<продолжительность блокировки в секундах>

# KEYS
JWT_PUBLIC_KEY=<путь к публичному ключу JWT>